.inline-svg-code( @code ) {
	@-svg-code: escape(~'<?xml version="1.0" ?>@{code}');
	@-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
	@-inline-svg-url: ~"url('@{-inline-svg-code}')";
}

div.cmp-teaser.circle {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 100%;
	overflow: hidden;
	margin-top: @verticalSpacing;
	margin-bottom: @verticalSpacing;

	@media (max-width: 992px) {
		flex-direction: column-reverse;
	}

	.cmp-image {
		position: relative;
		text-align: right;
		width: 35vw;
		height: 35vw;
		max-height: 640px;
		max-width: 640px;
		@media (max-width: 992px) {
			margin-top: @verticalSpacing;
			height: 80vw;
			width: 80vw;
		}

		// &:after {
		// 	.fa-icon;
		// 	.fas;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: @fa-var-chevron-right;
		// 	color: white;
		// 	font-size: 24px;
		// 	display: inline-block;
		// 	background-color: transparent;
		// 	height: 100%;
		// 	width: 100%;
		// 	text-align: center;
		// 	padding-top: 50%;
		// 	line-height: 0;
		// 	cursor: pointer;
		// 	transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
		// }

		// &:after {
		// 	.fa-icon;
		// 	.fas;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: @fa-var-chevron-right;
		// 	color: white;
		// 	font-size: 24px;
		// 	display: inline-block;
		// 	background-color: transparent;
		// 	height: 100%;
		// 	width: 100%;
		// 	text-align: center;
		// 	padding-top: 50%;
		// 	line-height: 0;
		// 	cursor: pointer;
		// 	transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
		// }

		.inline-svg-code(~'<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>');

		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			background-color: transparent;
			background-image: @-inline-svg-url;
			background-position: 55% 50%;
			background-repeat: no-repeat;
			background-size: 20px;
			height: 50px;
			width: 50px;
			top: 0;
			left: 0;
			margin-top: calc(50% - 25px);
			margin-left: calc(50% - 25px);
			cursor: pointer;
			transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			/* margin-right: calc(50vw - 50px); */
			border: 2px solid white;
			z-index: 1;
			border-radius: 50%;
		}

		&:hover {
			&:before {
				content: "";
				position: absolute;
				display: inline-block;
				background-color: transparent;
				background-image: @-inline-svg-url;
				background-position: 55% 50%;
				background-repeat: no-repeat;
				background-size: 35px;
				height: 70px;
				width: 70px;
				top: 0;
				left: 0;
				margin-top: calc(50% - 35px);
				margin-left: calc(50% - 35px);
				cursor: pointer;
				transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
				/* margin-right: calc(50vw - 50px); */
				border: 2px solid white;
				z-index: 1;
				border-radius: 50%;
			}
		}

		.cmp-image__image {
			display: block;
			filter: brightness(.65);
			width: 35vw;
			height: 35vw;
			max-height: 640px;
			max-width: 640px;
			object-fit: cover;
			border-style: none;
			border-radius: 50%;
			@media (max-width: 992px) {
				height: 80vw;
				width: 80vw;
			}
		}
	}

	.cmp-teaser__content {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: auto;
		min-width: auto;
		padding-right: 3.6rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		h2 {
			margin-bottom: 5.5rem;
			a {
				color: @textColor;
				transition: all .2s ease-in-out;
				.h2();
				.underline();

				&:hover {
					text-decoration: none;
				}
			}
		}

		.cmp-teaser__description {
			margin-bottom: 1.8rem;
		}
	}

	.cmp-teaser__action-container {
		padding-bottom: 0rem !important;
		text-transform: uppercase;
		background-color: transparent;
		border: 2px solid #249c15;
		height: 4rem;
		position: relative;
		display: flex;
		flex-direction: row;
		padding-left: 2rem;
		width: fit-content;

		a {
			position: relative;
			.overline();
			color: #249c15;
			margin-top: 0rem;
			height: 100%;

			&:hover {
				text-decoration: none;

				&:after {
					display: inline-block;
					margin-left: 4rem;
				}
			}

			&:after {
				.fa-icon;
				.fas;
				content: @fa-var-chevron-right;
				color: white;
				font-size: 24px;
				display: inline-block;
				line-height: 1.5;
				margin-left: 2rem;
				padding-top: 0rem;
				margin-top: 0rem;
				padding-left: 1.8rem;
				padding-right: 1.6rem;
				// width: 4rem;
				height: 100%;
				// margin-bottom: -1.6rem;
				// margin-right: .1rem;
				background-color: #249c15;
				transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
			}
		}
	}

	&.wide {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
	}

	&.center {
		.cmp-teaser__content {
			justify-content: center;
			text-align: center;
			align-items: center;
		}
	}
}
